
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto&subset=cyrillic');
body,h1, h2, h3 .mplus{
    font-family: 'Open Sans', serif;

}
.mplus {
    font-family: 'Open Sans', serif !important;
}
h5{font-size: 18px !important}
h3,h5{
    font-weight: 600 !important;
}
p, .roboto{
    font-family: Roboto, serif;
}
h1 {
    font-size: 52px;
    color: #3FB24C;
}
.form-control:focus{
    border-color: white;
}
.upper{
    text-transform: uppercase;
}
.px-main{
    padding-top:120px;padding-bottom:120px;
}
.sertificat h5{
    font-size: 18px;
}
.sertificat li{
    list-style-type:none;
}
.bg-pick{
    color:black;
    background: rgba(255, 216, 178, 0.4);
}
.bg-pick-map{
    color:black;
    background: rgba(255, 216, 178, 0.4);
}
.bg-green{
    background: #BAF191;
}
.br-dark{
    background: #595959;
}
.color-green{
    color: #3FB24C;
}
.color-white{
    color:white !important;
}
a.color-white:hover{
    color:#3FB24C;
}
.color-black, .color-black:hover{
    color:black;
    text-decoration: none;
}
.card, .card-header{
    border-color: #999;
}
.btn-w{
    height:50px;
    width: 300px;
}
.btn-h{
    height:50px;
}
.btn{
    font-size: 16px !important;
}
.btn-primary{background: #3FB24C;border-color: transparent; padding: 13px 32px;}
.btn-primary:hover{background: #257A3C;border-color: transparent;}
.btn-primary:not(:disabled):not(.disabled):active{background: #257A3C;border-color: transparent;}
.btn-light{background: white;border-color: transparent;padding: 13px 32px; color:#3FB24C; font-size: 16px !important}
.btn-light:hover{background: white;border-color: transparent;color:#3FB24C;}
.btn-light:not(:disabled):not(.disabled):active{background: #dddddd;border-color: transparent;color:#3FB24C;}
.btn-link{
    color:black;
    text-decoration: none;border-color: transparent;
}
.btn-link:focus, .btn-link.focus{
    color:black;
    text-decoration: none;border-color: transparent;
}
.btn-link:hover{
    color:black;
    text-decoration: none;border-color: transparent;
}
.btn-link:not(:disabled):not(.disabled):active{
    text-decoration: none;
    color:black;border-color: transparent;
}
.btn-transparent{
    background:none;
    color:#3FB24C;
    border: 2px solid #3FB24C;

}
.btn-transparent:hover{
    background:none;
    color:#257A3C;
    border: 2px solid #257A3C;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3FB24C;
    border-color: #3FB24C;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}.btn-light:focus, .btn-light.focus {
    box-shadow: none;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #fff;
    background-color: rgba(209, 209, 209, 1);
    border-color: rgba(75, 219, 89, 1);
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: none;
}
.header{
    background: linear-gradient(0deg, #3FB24C 0%, #4AB852  59.37%, #5BC05C  76.24%, #6FCB67  89.5%, #7ED26F  100%) !important;
    height: 88px;
    color: white;
    font-size: 18px;
}
.hover-green{
    color:black;
}
.hover-green:hover{
    color:#3FB24C;
    background: #BAF191;
}

.navbar{
    z-index: 1000;
}
.navbar .dropdown-header{
    font-size: 18px;
}
.navbar-collapse .show .nav-link{
    color:black !important;
}
.navbar-collapse .show{
    background: #BAF191;
}
.dropdown-menu.columns-2 {
    min-width: 650px;
    border-radius: 0;
    border: 0;
    margin-top: 0;
    left: -250px;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler.navbar-toggler {
    border: 0 rgb(255, 255, 255);
}
.nav-phone{
    color:white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 11px 30px;
    font-family: 'Open Sans', serif;
    Font-Size: 20px;
    Line-Height: 29px;
}
.index{
    background: #f4ede2 url("../img/hero.png") no-repeat right;
    background-size: cover;
    background-position-y:80px;
    background-position-x: right;
    padding: 0;
    height:100vh;
    min-height: 700px;
}
.index404{
    background: #f6f0e6 url("../img/404-back.png") 0 100%  no-repeat;
    background-size: cover;
    padding: 0;
    height:100vh;
}
.hero{
    margin-top: 10%;
}
.hero404{
    margin-top: 6%;
}
.hero p{
    margin: 20px 0;
}
.hero h3{
    margin: 50px 0;
}

.hero h1, .hero h2, .hero h3{
    color: #257A3C;
    font-family: 'Open Sans', serif;
}
.font-reg{
    font-weight:400;
}
.font-medium{
    font-weight:600;
}
.hero h1{
    background: url(../img/back-text.jpg) no-repeat center left;
    background-size: cover;
    color: #fff;
    font-weight:600;
    /* -webkit-background-clip обрезает фон элемента по контуру текста */
    -webkit-text-fill-color: rgba(0, 0, 0, 0.2); /* переопределяет цвет текста с белого на прозрачный в браузерах на webkit */
    -webkit-background-clip: text;
}
.img-shadow{
    box-shadow:  -30px -20px 0  -5px #ffefe0,
    -30px -20px 0  0 #FFD8B2;
    margin-top: 30px;
}
.img-shadow-white{
    box-shadow:  -30px -20px 0  -5px #fff,
    -30px -20px 0  0 #FFD8B2;
}
.request{
    background: radial-gradient(361.96px at 50% 50%, rgba(72, 204, 87, 0.8) 0%, #48CC57 100%);
    color: white;
}
.request .cont{
    background: url("../img/request.png") no-repeat center;
    background-size: contain;
    padding-top: 80px;
    padding-bottom: 80px;
}
.request .form-control{
    background: none;
    border: 1px solid white;
    margin-top: 15px;
}
.request button{
    margin-top: 20px;
}
.request .form-control::placeholder{
    color:white;
}
.request a{
    color: white;
    text-decoration:underline
}
.request label{
    font-size: 14px;
}
.advantages{
    background-image: url("../img/calc.png");
}
.sert{
    background-image: url("../img/sert.png");
}
.sert-m h5{
    font-size:14px !important;
}
li{
    padding-left: 0;
}
.spec{
    height:150px;
}
.map img{
    width: 30px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#3FB24C;
}
.rotate{
    transform: rotate(180deg);
}
#servis-m h5{
    height: 48px;
}
.footer{
    padding-top: 80px;
    background: #595959;
}
.rad-20{
    border-radius: 20px 20px 20px 20px !important;
}
.rad-20-top{
    border-radius: 20px 20px 0 0 !important;
}
.rad-20-bottom{
    border-radius: 0 0 20px 20px !important;
}
.border-bottom2{
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #999 !important;
}
.border-bottom2-h{
    border-bottom: 1px solid #ddd !important;
}
.border-bottom2-t{
    border-bottom: 0 !important;
}
.rad-20-top.border-bottom2-t{
    border-radius: 19px 19px 0 0 !important;
    border-bottom: 0 !important;
}
@media (min-width: 992px) {
    .buh .modal-dialog {min-width: 950px;}
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav{
        flex-direction: column;
    }
    .disp-m {
        display: none;
    }
    .index{
    }
}
@media (min-width: 992px){
    .navbar-expand-md .navbar-nav{
        flex-direction: row;
    }
    .nav-dropdown{
        height:88px;
    }
    .nav-s{
        display: none;
    }
    .index{
    }
}
@media (min-width: 992px) {
    .index{

        background-position-x: -650px;
    }
}
@media (max-width: 1199px) {
    .request .cont{
        background-size: cover;
    }
    .header{
        font-size: 14px;
    }

    .index{
        background-position-x: -830px;
    }
}
@media (min-width: 1350px) {
    .index{
        background-position-x: right;
    }
}
@media (max-width: 991px){
    .navbar .navbar-collapse{
        background: #3FB24C;
    }
    #servis-m h5 {
        height: inherit;
    }
    .nav-phone{
        display: none;
    }
    .dropdown-menu.columns-2{
        left: 0;
        min-width: 0;
    }
    .nav-l{
        display: none;
    }
    .hero h1{
        font-size: 46px;
    }
    .hero h3{
        font-size: 28px;
    }
    .disp-none-img{
        display: none;
    }

    .index{
        height:540px;
        min-height: 0;
        background: #f4ede2 url("../img/hero-m.jpg") no-repeat right;
        background-position-y: 80px;
        background-size: cover;
    }
}
@media (max-width: 767px){
    .disp-none{
        display: none;
    }
    .disp-m h5{
        font-size:18px;
    }
    .how img{
        transform: rotate(90deg);
    }
    .text-center-md{
        text-align: center;
    }
    .hero h1{
        font-size: 30px;
    }
    .hero p{
        font-size:12px
    }
    .hero h3{
        font-size: 20px;
    }
    .container {
        max-width: none;
    }

    .footer .border-left{
        border-left: 0 !important;
        border-top: 1px solid white;
        margin-top: 30px;
        padding-top: 30px;
    }

    .bg-pick-map{
        color:black;
        background: white;
    }
}
@media (max-width: 500px){

    .hero h1{
        font-size: 20px;
    }
    .hero p{
        font-size:10px
    }
    .hero h3{
        font-size: 15px;
    }
}