body, h1, h2, h3 {
    font-family: 'Roboto', serif;
}
h1{
    font-size:52px;
    color:#3FB24C;
}
.bg-pick{
    color:black;
    background: rgba(255, 216, 178, 0.4);
}
.bg-green{
    background: #BAF191;
}
.br-dark{
    background: #595959;
}
.color-green{
    color: #3FB24C;
}
.color-white{
    color:white;
}
a.color-white:hover{
    color:#3FB24C;
}
.color-black, .color-black:hover{
    color:black;
    text-decoration: none;
}
.btn-primary{background: #3FB24C}
.btn-primary:hover{background: #3FB24C}
.btn-primary:not(:disabled):not(.disabled):active{background: #257A3C}
.btn-light{background: white}
.btn-light:hover{background: white}
.btn-light:not(:disabled):not(.disabled):active{background: #dddddd}
.btn-link{
    color:black;
    font-size: 20px;
    text-decoration: none;
}
.btn-link:focus, .btn-link.focus{
    color:black;
    text-decoration: none;
}
.btn-link:hover{
    color:black;
    text-decoration: none;
}
.btn-link:not(:disabled):not(.disabled):active{
    text-decoration: none;
    color:black;
}
.header{
    background: linear-gradient(0deg, #3FB24C 0%, #4AB852 30.64%, #BAF191  100%) !important;
    height: 88px;
    color: white;
    font-size: 18px;
}
.hover-green{
    color:black;
}
.hover-green:hover{
    color:#3FB24C;
    background: #BAF191;
}
.navbar .dropdown-header{
    font-size: 18px;
}
.navbar-collapse .show .nav-link{
    color:black !important;
}
.navbar-collapse .show{
    background: #BAF191;
}
.dropdown-menu.columns-2 {
    min-width: 650px;
    border-radius: 0;
    border: 0;
    margin-top: 0;
    left: -250px;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler.navbar-toggler {
    border: 0 rgb(255, 255, 255);
}
.nav-phone{
    color:white;
    width: 210px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 11px 30px;
    font-family: 'Roboto', serif;
    Font-Size: 20px;
    Line-Height: 29px;
}
.index{
    background: #FFD8B2 url("../img/hero.png") no-repeat bottom;
    background-size: cover;
    background-position-y:70px;
    padding: 0;
    height:100vh;
}
.hero{
    margin-top: 10%;
}
.hero p{
    margin: 20px 0;
}
.hero h3{
    margin: 50px 0;
}
.hero h1, .hero h2, .hero h3{
    color: #257A3C;
    font-family: 'Roboto', serif;
}
.img-shadow{
    box-shadow:  -30px -20px 0  -5px #ffefe0,
    -30px -20px 0  0 #FFD8B2;
}
.about{
    margin-top: 100px;
    margin-bottom: 100px;
}
.request{
    background: radial-gradient(361.96px at 50% 50%, rgba(72, 204, 87, 0.8) 0%, #48CC57 100%);
    color: white;
}
.request .cont{
    background: url("../img/request.png") no-repeat center;
    background-size: contain;
    padding-top: 80px;
    padding-bottom: 80px;
}
.request .form-control{
    background: none;
    border: 1px solid white;
    margin-top: 15px;
}
.request button{
    margin-top: 20px;
}
.request .form-control::placeholder{
    color:white;
}
.request a{
    color: white;
    text-decoration:underline
}
.request label{
    font-size: 14px;
}
.advantages{
    background-image: url("../img/calc.png");
}
.sert{
    background-image: url("../img/sert.png");
}
li{
    padding-left: 0;
}
.spec{
    height:150px;
}
.map img{
    width: 30px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#3FB24C;
}
.rotate{;
    transform: rotate(180deg);
}
@media (min-width: 992px) {
    .buh .modal-dialog {min-width: 950px;}
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav{
        flex-direction: column;
    }
}
@media (min-width: 992px){
    .navbar-expand-md .navbar-nav{
        flex-direction: row;
    }
    .nav-dropdown{
        height:88px;
    }
}
@media (max-width: 1199px) {
    .request .cont{
        background-size: cover;
    }
}
@media (max-width: 991px){
    .navbar .navbar-collapse{
        background: #3FB24C;
    }
    .navbar .container{
        max-width: none;
    }
    .nav-phone{
        display: none;
    }
    .dropdown-menu.columns-2{
        left: 0;
    }
    .hero h1{
        font-size: 46px;
    }
    .hero h3{
        font-size: 28px;
    }
}
@media (max-width: 768px){
    .disp-none{
        display: none;
    }
    .how img{
        transform: rotate(90deg);
    }
    .index{
        height:520px;
    }
    .hero h1{
        font-size: 40px;
    }
    .hero h3{
        font-size: 25px;
    }
    .container {
        max-width: none;
    }
}
@media (max-width: 576px) {
}